.clients {
  background-color: #EBEBEB;
}

.clients__wrapper {
  @include wrapper;
  padding-top: 100px;
  padding-bottom: 100px;

  @media (max-width: 600px) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.clients__text {
  margin-top: 20px;
}

.clients__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  @include list-reset;
  margin-top: 65px;
}

.clients__toggles {
  margin-top: 50px;
}