.presentation {

  background-image: url("../img/background-image.png");
  background-size: cover;
}

.presentation__wrapper {
  position: relative;

  @include wrapper;
  padding-top: 170px;
  padding-bottom: 113px;
}

.presentation__title {
  display: block;
  max-width: 589px;

  @include text-set(48px, 66px, $merri);
  font-weight: 700;
  color: #ffffff;
}

.presentation__button {
  position: absolute;
  top: 450px;
  left: 20px;
}

.presentation__toggles {
  margin-top: 70px;
}