.section-large-text {
  display: block;

  @include text-set (48px, 69px, $merri);
  font-weight: 900;
  color: #333333;

  &--blue {
    color: #005FA3;
  }
  
  &--white {
    color: #ffffff;
  }

  @media (max-width: 740px) {
    font-size: 30px;
    line-height: 50px;
  }

  @media (max-width: 600px) {
    text-align: center;
    font-size: 25px;
  }
}

